<div class="container">
  <a class="navbar-brand" href="#">Note Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  </div>
  </div>

  <div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Register</div>
                    <div class="card-body">
                            <div class="form-group row">
                                <label for="user_name" class="col-md-4 col-form-label text-md-right">User Name</label>
                                <div class="col-md-6">
                                    <input type="text" id="user_name" class="form-control" name="user_name" placeholder="User Name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                <div class="col-md-6">
                                    <input type="text" id="email_address" class="form-control" name="email-address" placeholder="E-Mail Address">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="first_name" class="col-md-4 col-form-label text-md-right">First name</label>
                                <div class="col-md-6">
                                    <input type="text" id="first_name" class="form-control" name="first_name" placeholder="First Name">
                                </div>
                            </div>

                            <div class="form-group row">
                              <label for="last_name" class="col-md-4 col-form-label text-md-right">Last name</label>
                              <div class="col-md-6">
                                  <input type="text" id="last_name" class="form-control" name="last_name" placeholder="Last Name">
                              </div>
                          </div>

                          <div class="form-group row">
                            <label for="title" class="col-md-4 col-form-label text-md-right">Title</label>
                            <div class="col-md-6">
                                <select name="cars" id="title" class="form-control" name="title" placeholder="Please Select">
                                  <option value="mr">MR</option>
                                  <option value="mrs">MRS</option>
                                  <option value="miss">Miss</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                          <label for="date_of_birth" class="col-md-4 col-form-label text-md-right">Date Of Birth</label>
                          <div class="col-md-6">
                              <input type="date" id="date_of_birth" class="form-control" name="date_of_birth" data-date-format="YYYY-MM-d" placeholder="YYYY-MM-d">
                          </div>
                      </div>

                      <div class="form-group row">
                        <label for="gender" class="col-md-4 col-form-label text-md-right">Gender</label>
                        <div class="col-md-6">
                            <select name="cars" id="title" class="form-control" name="title">
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                              <option value="rns">Rather not say</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="phone_number" class="col-md-4 col-form-label text-md-right">Phone Number</label>
                        <div class="col-md-6">
                            <input type="text" id="phone_number" class="form-control" name="phone_number" placeholder="Phone Number">
                        </div>
                    </div>

                    <div class="form-group row">
                      <label for="telephone_number" class="col-md-4 col-form-label text-md-right">Telephone Number</label>
                      <div class="col-md-6">
                          <input type="text" id="telephone_number" class="form-control" name="telephone_number" placeholder="Telephone Number">
                      </div>
                  </div>

                  <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                    <div class="col-md-6">
                        <input type="text" id="password" class="form-control" name="password" placeholder="password">
                    </div>
                </div>

                <div class="form-group row">
                  <label for="confirm_password" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                  <div class="col-md-6">
                      <input type="text" id="confirm_password" class="form-control" name="confirm_password"placeholder="confirm password">
                  </div>
              </div>

                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                    Register
                                    </button>
                                </div>
                    </div>
                </div>
        </div>
    </div>
