<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/notes">Notes</a>
  <a routerLink="/favorites">Favorites</a>
  <div class="btn-group" style="float: right; margin-right: 50px;">
      <button type="button" class="btn btn-secondary">Welcome {{name  | uppercase }}</button>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="profile()">Profile</a>
        <hr>
        <a class="dropdown-item"(click)="logOut()">Logout</a>
      </div>
    </div>
</nav>

<router-outlet></router-outlet>
